{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


<title>Posts</title>
<div class="container-fluid">
    {% for post in posts %}


    <hr>
    <div class="container border-light" id="post">
        <h1>{{ post.title }}</h1>
        <h3>{{ post.published_date }}</h3>
        <img src="{{ post.image.url }}" class="rounded-circle">
        <p>
            {{ post.text }}
        </p>
        <i class="fi-pencil">Youssef</i>
        <a href=""><i class="fi-like" id="like"></i></a><span id="likes">{{ post.likes }}</span>
        <a href=""><i class="fi-dislike" id="dislike"></i></a><span id="dislikes">{{ post.dislikes }}</span>
    </div>

    {% endfor %}
</div>


{% endblock %}