{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/foundation-icons/foundation-icons.css' %}">

    <link rel="shortcut icon" href="/static/images/barico.ico" type="image/x-icon"/>
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/YOUSSEF.png' %}" class="logo">
        {% if user.is_authenticated %}
        <li class="navbar-brand">
            <span>{{ user.username }}</span>
            <i class="fas fa-circle" style="color: #00F800;font-size: 0.8em;"></i>
        </li>
        {% endif %}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="/blog"><i><strong>My posts</strong></i></a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Logout</a>
            </li>

            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="/accounts/signup">Sign up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Login</a>
            </li>

            {% endif %}

            <li>
                <a class="nav-link" href="/Covid-19">Covid-19</a>
            </li>

        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" id="anythingSearch">
            <a class="btn btn-outline-success my-2 my-sm-0" id="searchbtn" href="#">Search</a>
        </form>

    </div>
</nav>


{% block content %}

{% endblock %}


<div class="jumbotron-fluid">
    <div id="contact">
        <div class="container-fluid" id="contactme">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Contact</h2>
                    <p class="text-center tag-line">subscribe below :</p>
                </div>
                <div id="subscribe" class="col-md-12">
                    <div class="container badge-light">
                        <form class="form-text" action="{% url 'subscribe' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">

                                <label for="yourname">Your name : </label>
                                <input type="text" id="yourname" placeholder="Your Name" class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="youremail">Your email : </label>
                                {{ form }}
                            </div>
                            <input type="submit" class="btn btn-dark" value="Subscribe">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li
                                        {% if message.tags %} class="{{ message.tags }}" {% endif %}
                                        style="color: red; display: inline;">{{ message }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div id="socialnetwork" class="col-md-12">
                    <div class="container">

                        <a href="https://www.linkedin.com/in/youssef-moussaaif-6570a4189/"><i
                                class="fi-social-linkedin text-center"></i></a>


                        <a href="https://www.instagram.com/youssef_msf/"><i class="fi-social-instagram text-center"></i></a>


                        <a href="https://web.facebook.com/youssef.soso.94043"><i
                                class="fi-social-facebook text-center"></i></a>


                        <a href="https://github.com/Djossef"><i class="fi-social-github text-center"></i></a>

                    </div>
                </div>

                <div class="col-md-12">
                    <p>Send me email here: </p>
                    <a class="text-center btn btn-dark" href="mailto:djossef.msf@gmail.com">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="fixed-bottom">
    <a href="#"><i class="fas fa-angle-up" id="toTop"></i></a>
</nav>


<div class="footer">
    <div class="container-fluid">
        <p>&copy; Created by youssef. 2020</p>

    </div>

</div>

<script src="https://kit.fontawesome.com/c939d0e917.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'js/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'js/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'js/jquery-ui.theme.css' %}">
<link rel="stylesheet" href="{% static 'js/jquery-ui.structure.css' %}">
<link rel="stylesheet" href="{% static 'js/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'js/jquery-ui.theme.min.css' %}">
<script src="{% static 'scripts/animating.js' %}"></script>
</body>

</html>
